/* Styly pro .hero-section */
.hero-section {
    background-image: url('https://cdn.wallpapersafari.com/19/97/MfNw16.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    height: 100vh; /* Zabere celou výšku viewportu */
}

.hero-section .btn {
    margin-top: 20px;
}

/* Styly pro footer */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
